body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:886px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:886px;
}
#u126 {
  position:absolute;
  left:2px;
  top:435px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u127 {
  position:absolute;
  left:11px;
  top:610px;
  width:40px;
  height:40px;
  font-size:10px;
}
#u128 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u129 {
  position:absolute;
  left:61px;
  top:627px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:200px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:200px;
}
#u132 {
  position:absolute;
  left:2px;
  top:92px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_ann {
  position:absolute;
  left:368px;
  top:-4px;
  width:1px;
  height:1px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:200px;
}
#u133 {
  position:absolute;
  left:0px;
  top:200px;
  width:375px;
  height:200px;
}
#u134 {
  position:absolute;
  left:2px;
  top:92px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:200px;
}
#u135 {
  position:absolute;
  left:0px;
  top:400px;
  width:375px;
  height:200px;
}
#u136 {
  position:absolute;
  left:2px;
  top:92px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u137 {
  position:absolute;
  left:13px;
  top:13px;
  width:30px;
  height:30px;
}
#u138 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u137_ann {
  position:absolute;
  left:36px;
  top:9px;
  width:1px;
  height:1px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:15px;
}
#u139 {
  position:absolute;
  left:21px;
  top:669px;
  width:313px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:73px;
}
#u141 {
  position:absolute;
  left:11px;
  top:703px;
  width:351px;
  height:73px;
}
#u142 {
  position:absolute;
  left:2px;
  top:28px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:23px;
}
#u143 {
  position:absolute;
  left:21px;
  top:715px;
  width:77px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:23px;
}
#u145 {
  position:absolute;
  left:65px;
  top:715px;
  width:77px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:23px;
}
#u147 {
  position:absolute;
  left:21px;
  top:738px;
  width:77px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:23px;
}
#u149 {
  position:absolute;
  left:65px;
  top:738px;
  width:77px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u151 {
  position:absolute;
  left:138px;
  top:803px;
  width:30px;
  height:30px;
  font-size:10px;
}
#u152 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
}
#u153 {
  position:absolute;
  left:152px;
  top:843px;
  width:72px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:13px;
}
#u155 {
  position:absolute;
  left:209px;
  top:627px;
  width:59px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u155_ann {
  position:absolute;
  left:261px;
  top:623px;
  width:1px;
  height:1px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u157 {
  position:absolute;
  left:192px;
  top:629px;
  width:12px;
  height:12px;
}
#u158 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:13px;
}
#u159 {
  position:absolute;
  left:295px;
  top:627px;
  width:59px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u161 {
  position:absolute;
  left:278px;
  top:629px;
  width:12px;
  height:12px;
}
#u162 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:23px;
}
#u163 {
  position:absolute;
  left:192px;
  top:715px;
  width:77px;
  height:23px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:14px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:23px;
}
#u165 {
  position:absolute;
  left:269px;
  top:715px;
  width:77px;
  height:23px;
  font-family:'Arial Negreta cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:14px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u167 {
  position:absolute;
  left:185px;
  top:811px;
  width:50px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u169 {
  position:absolute;
  left:332px;
  top:13px;
  width:30px;
  height:30px;
}
#u170 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_ann {
  position:absolute;
  left:355px;
  top:9px;
  width:1px;
  height:1px;
}
