body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:372px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1200px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1200px;
}
#u3 {
  position:absolute;
  left:2px;
  top:592px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:203px;
}
#u5 {
  position:absolute;
  left:10px;
  top:513px;
  width:172px;
  height:193px;
}
#u6 {
  position:absolute;
  left:2px;
  top:88px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:251px;
}
#u7 {
  position:absolute;
  left:195px;
  top:513px;
  width:172px;
  height:241px;
}
#u8 {
  position:absolute;
  left:2px;
  top:112px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:212px;
}
#u9 {
  position:absolute;
  left:10px;
  top:716px;
  width:172px;
  height:202px;
}
#u10 {
  position:absolute;
  left:2px;
  top:93px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:120px;
}
#u11 {
  position:absolute;
  left:10px;
  top:513px;
  width:172px;
  height:120px;
}
#u12 {
  position:absolute;
  left:2px;
  top:52px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_ann {
  position:absolute;
  left:175px;
  top:509px;
  width:1px;
  height:1px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:180px;
}
#u13 {
  position:absolute;
  left:195px;
  top:513px;
  width:172px;
  height:180px;
}
#u14 {
  position:absolute;
  left:2px;
  top:82px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:141px;
}
#u15 {
  position:absolute;
  left:10px;
  top:716px;
  width:172px;
  height:141px;
}
#u16 {
  position:absolute;
  left:2px;
  top:62px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u17 {
  position:absolute;
  left:24px;
  top:643px;
  width:150px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u19 {
  position:absolute;
  left:24px;
  top:685px;
  width:12px;
  height:12px;
}
#u20 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_ann {
  position:absolute;
  left:29px;
  top:681px;
  width:1px;
  height:1px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:13px;
}
#u21 {
  position:absolute;
  left:45px;
  top:683px;
  width:71px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#5E5E5E;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u21_ann {
  position:absolute;
  left:109px;
  top:679px;
  width:1px;
  height:1px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:13px;
}
#u23 {
  position:absolute;
  left:155px;
  top:683px;
  width:19px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u23_ann {
  position:absolute;
  left:167px;
  top:679px;
  width:1px;
  height:1px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u25 {
  position:absolute;
  left:138px;
  top:685px;
  width:12px;
  height:12px;
}
#u26 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_ann {
  position:absolute;
  left:143px;
  top:681px;
  width:1px;
  height:1px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u27 {
  position:absolute;
  left:203px;
  top:703px;
  width:150px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:13px;
}
#u29 {
  position:absolute;
  left:219px;
  top:726px;
  width:71px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#5E5E5E;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:13px;
}
#u31 {
  position:absolute;
  left:334px;
  top:726px;
  width:19px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u33 {
  position:absolute;
  left:317px;
  top:728px;
  width:12px;
  height:12px;
}
#u34 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u35 {
  position:absolute;
  left:202px;
  top:728px;
  width:12px;
  height:12px;
}
#u36 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u37 {
  position:absolute;
  left:25px;
  top:867px;
  width:150px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:13px;
}
#u39 {
  position:absolute;
  left:41px;
  top:890px;
  width:71px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#5E5E5E;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:13px;
}
#u41 {
  position:absolute;
  left:156px;
  top:890px;
  width:19px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u43 {
  position:absolute;
  left:139px;
  top:892px;
  width:12px;
  height:12px;
}
#u44 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u45 {
  position:absolute;
  left:24px;
  top:892px;
  width:12px;
  height:12px;
}
#u46 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:292px;
}
#u47 {
  position:absolute;
  left:195px;
  top:764px;
  width:172px;
  height:282px;
}
#u48 {
  position:absolute;
  left:2px;
  top:133px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:225px;
}
#u49 {
  position:absolute;
  left:195px;
  top:764px;
  width:172px;
  height:225px;
}
#u50 {
  position:absolute;
  left:2px;
  top:104px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u51 {
  position:absolute;
  left:210px;
  top:999px;
  width:150px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:13px;
}
#u53 {
  position:absolute;
  left:226px;
  top:1022px;
  width:71px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#5E5E5E;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:13px;
}
#u55 {
  position:absolute;
  left:341px;
  top:1022px;
  width:19px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u57 {
  position:absolute;
  left:324px;
  top:1024px;
  width:12px;
  height:12px;
}
#u58 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u59 {
  position:absolute;
  left:209px;
  top:1024px;
  width:12px;
  height:12px;
}
#u60 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u61 {
  position:absolute;
  left:173px;
  top:1077px;
  width:30px;
  height:30px;
  font-size:10px;
}
#u62 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u63 {
  position:absolute;
  left:245px;
  top:439px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:9px;
}
#u65 {
  position:absolute;
  left:66px;
  top:455px;
  width:75px;
  height:9px;
}
#u66 {
  position:absolute;
  left:2px;
  top:-4px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u67 {
  position:absolute;
  left:66px;
  top:436px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:101px;
}
#u70 {
  position:absolute;
  left:10px;
  top:318px;
  width:357px;
  height:101px;
}
#u71 {
  position:absolute;
  left:2px;
  top:42px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:23px;
}
#u72 {
  position:absolute;
  left:45px;
  top:372px;
  width:77px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u74 {
  position:absolute;
  left:52px;
  top:395px;
  width:41px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#5E5E5E;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u76 {
  position:absolute;
  left:162px;
  top:395px;
  width:41px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#5E5E5E;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:13px;
}
#u78 {
  position:absolute;
  left:272px;
  top:395px;
  width:51px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#5E5E5E;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:23px;
}
#u80 {
  position:absolute;
  left:160px;
  top:372px;
  width:77px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:23px;
}
#u82 {
  position:absolute;
  left:262px;
  top:372px;
  width:77px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u84 {
  position:absolute;
  left:175px;
  top:334px;
  width:15px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u86 {
  position:absolute;
  left:215px;
  top:334px;
  width:15px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u88 {
  position:absolute;
  left:255px;
  top:334px;
  width:15px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u90 {
  position:absolute;
  left:295px;
  top:334px;
  width:15px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u92 {
  position:absolute;
  left:56px;
  top:334px;
  width:85px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
#u94 {
  position:absolute;
  left:10px;
  top:360px;
  width:357px;
  height:1px;
}
#u95 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:251px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:251px;
}
#u97 {
  position:absolute;
  left:2px;
  top:118px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_ann {
  position:absolute;
  left:368px;
  top:-4px;
  width:1px;
  height:1px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u98 {
  position:absolute;
  left:122px;
  top:474px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u98_ann {
  position:absolute;
  left:144px;
  top:470px;
  width:1px;
  height:1px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u100 {
  position:absolute;
  left:212px;
  top:474px;
  width:43px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
}
#u102 {
  position:absolute;
  left:193px;
  top:481px;
  width:15px;
  height:8px;
}
#u103 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u104 {
  position:absolute;
  left:337px;
  top:513px;
  width:30px;
  height:30px;
}
#u105 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_ann {
  position:absolute;
  left:360px;
  top:509px;
  width:1px;
  height:1px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:67px;
}
#u106 {
  position:absolute;
  left:-3px;
  top:1133px;
  width:378px;
  height:67px;
}
#u107 {
  position:absolute;
  left:2px;
  top:26px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u108 {
  position:absolute;
  left:45px;
  top:1141px;
  width:30px;
  height:30px;
}
#u109 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u110 {
  position:absolute;
  left:130px;
  top:1141px;
  width:30px;
  height:30px;
}
#u111 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u112 {
  position:absolute;
  left:214px;
  top:1141px;
  width:30px;
  height:30px;
}
#u113 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u114 {
  position:absolute;
  left:299px;
  top:1141px;
  width:30px;
  height:30px;
}
#u115 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u116 {
  position:absolute;
  left:46px;
  top:1173px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u118 {
  position:absolute;
  left:130px;
  top:1173px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u120 {
  position:absolute;
  left:300px;
  top:1173px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u122 {
  position:absolute;
  left:215px;
  top:1173px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:10px;
  top:271px;
  width:357px;
  height:36px;
}
#u124_input {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u124_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u124_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:363px;
  height:42px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
