body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:517px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:423px;
}
#u113 {
  position:absolute;
  left:0px;
  top:101px;
  width:517px;
  height:423px;
}
#u114 {
  position:absolute;
  left:2px;
  top:204px;
  width:513px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u115 {
  position:absolute;
  left:63px;
  top:202px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u117 {
  position:absolute;
  left:63px;
  top:143px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u119 {
  position:absolute;
  left:63px;
  top:257px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:140px;
  top:140px;
  width:126px;
  height:22px;
}
#u121_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u121_input {
  color:#000000;
}
#u121_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:132px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u121_input:disabled {
  color:grayText;
}
#u122 {
  position:absolute;
  left:140px;
  top:197px;
  width:126px;
  height:25px;
}
#u122_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u122_input {
  color:#000000;
}
#u122_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:132px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u123 {
  position:absolute;
  left:140px;
  top:257px;
  width:126px;
  height:25px;
}
#u123_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u123_input {
  color:#000000;
}
#u123_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:132px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u124 {
  position:absolute;
  left:310px;
  top:250px;
  width:140px;
  height:40px;
}
#u125 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u126 {
  position:absolute;
  left:497px;
  top:101px;
  width:20px;
  height:20px;
}
#u127 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u128 {
  position:absolute;
  left:63px;
  top:444px;
  width:140px;
  height:40px;
}
#u129 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u130 {
  position:absolute;
  left:63px;
  top:318px;
  width:37px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:140px;
  top:318px;
  width:126px;
  height:25px;
}
#u132_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u132_input {
  color:#000000;
}
#u132_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:132px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u133 {
  position:absolute;
  left:63px;
  top:379px;
  width:57px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u135 {
  position:absolute;
  left:140px;
  top:379px;
  width:100px;
  height:16px;
}
#u136 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u135_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u137 {
  position:absolute;
  left:250px;
  top:379px;
  width:100px;
  height:16px;
}
#u138 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u137_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
