body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:818px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:423px;
}
#u57 {
  position:absolute;
  left:0px;
  top:100px;
  width:517px;
  height:423px;
}
#u58 {
  position:absolute;
  left:2px;
  top:204px;
  width:513px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u59 {
  position:absolute;
  left:63px;
  top:201px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u61 {
  position:absolute;
  left:63px;
  top:142px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u63 {
  position:absolute;
  left:63px;
  top:256px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:140px;
  top:139px;
  width:126px;
  height:22px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u65_input {
  color:#000000;
}
#u65_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:132px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u65_input:disabled {
  color:grayText;
}
#u66 {
  position:absolute;
  left:140px;
  top:196px;
  width:126px;
  height:25px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u66_input {
  color:#000000;
}
#u66_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:132px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u67 {
  position:absolute;
  left:140px;
  top:256px;
  width:126px;
  height:25px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u67_input {
  color:#000000;
}
#u67_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:132px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u68 {
  position:absolute;
  left:310px;
  top:249px;
  width:140px;
  height:40px;
}
#u69 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u70 {
  position:absolute;
  left:497px;
  top:100px;
  width:20px;
  height:20px;
}
#u71 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u72 {
  position:absolute;
  left:63px;
  top:443px;
  width:140px;
  height:40px;
}
#u73 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u74 {
  position:absolute;
  left:63px;
  top:317px;
  width:37px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:140px;
  top:317px;
  width:126px;
  height:25px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u76_input {
  color:#000000;
}
#u76_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:132px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u77 {
  position:absolute;
  left:310px;
  top:317px;
  width:140px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u79 {
  position:absolute;
  left:63px;
  top:378px;
  width:57px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:140px;
  top:378px;
  width:100px;
  height:16px;
}
#u82 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u81_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u83 {
  position:absolute;
  left:250px;
  top:378px;
  width:100px;
  height:16px;
}
#u84 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u83_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:423px;
}
#u85 {
  position:absolute;
  left:562px;
  top:100px;
  width:256px;
  height:423px;
  text-align:left;
  line-height:28px;
}
#u86 {
  position:absolute;
  left:20px;
  top:184px;
  width:216px;
  word-wrap:break-word;
}
